
#eventsButton {
  font-family: "Helvetica Diagonal BQ";
  font-size: 25px;
  color: #e6ff00;
  background-color: rgb(230, 255, 0, 20%);
  border-radius: 40px;
}

#eventsBox {
  padding-right: 60px;
  padding-bottom: 60px;
}

#loginButton {
  font-family: "Helvetica Diagonal BQ";
  font-size: 25px;
  color: #e6ff00;
  background-color: rgb(230, 255, 0, 20%);
  border-radius: 40px;
}

#loginBox {
  padding-right: 60px;
  padding-top: 60px;
}

#chatButton {
  font-family: "Helvetica Diagonal BQ";
  font-size: 25px;
  color: #e6ff00;
  background-color: rgb(230, 255, 0, 20%);
  border-radius: 40px;

}

#chatBox {
  padding-left: 60px;
  padding-bottom: 60px;

}

#LOGO {
  max-height: 150px;
  background: transparent 20%;

}